.hero {
    height: 100vh;
    width: 100%;
    background-image: url("../../../public/assets/images/mobile/image-header.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: $White;
        top: 25%;
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: $FrauncesExtraBold;
    }
}

@include desktop {
    .hero {
        background-image: url("../../../public/assets/images/desktop/image-header.jpg");
    }
}